$sports-color1: #676767;
$sports-color2: #696969;
$sports-linea-gradient: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
.content-wrapper {
  height: 50vh;
}

.no-border-radius {
  border-radius: 0;
}
.text-black {
  color: black !important;
}
.text-primary {
  color: $sports-color1 !important;
}
p {
  &.text-primary {
    color: $sports-color1;
  }
}
.content-wrapper {
  background: $sports-linea-gradient;
  display: flex;
  p {
    text-align: justify;
  }
}
.nav-section {
  .navbar {
    transition: all 0.4s ease-in-out;
    .navbar-brand {
      color: inherit;
    }
    .nav-item {
      .nav-link {
        color: inherit;
      }
    }
  }
}
.parallax {
  /* The image used */
  /* Set a specific height */
  min-height: 50vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-swiper {
  height: 100vh !important;
  .parallax-bg {
    background-image: url("/img/slide-1.jpg");
    background-position-x: 100px;
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top;
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
  background: #000;
}
.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 3rem;
}
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}
.swiper-slide .subtitle {
  font-size: 21px;
}
.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
